{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "camelcase": ["error", { "properties": "always" }],
    "func-call-spacing": ["error", "never"],
    "indent": ["error", 2],
    "no-console": "off",
    "no-debugger": "error",
    "no-multi-spaces": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-whitespace-before-property": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "no-dupe-keys": "error"
  }
}